html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 10s ease-in-out infinite alternate;
  /* background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);*/
  /*background-image: linear-gradient(45deg, #fbc2eb, #a6c1ee);*/
  background-image: linear-gradient(45deg, #009FFF, #ec2F4B);
  /*background-image: radial-gradient(#ffffff, #2980b9, #6dd5fa);*/
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

@keyframes slide {
    0% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(20%);
    }
}