.original-button,
a.original-button{
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-size: 18px;
    width: 120px;
    height: 30px;
    color: #fff;
    /*background-color: #eb6100;*/
    background-color: #000000;
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
}
.original-button:hover,
a.original-button:hover {
  color: #fff;
  background: #000000;
}